.myNav {
  display: inline;
  color: black;
  margin: 100px 25px;
}

title {
  margin: 15px;
}
html {
  background-image: url('/images/bistro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
li {
  color: black;
  font-weight: bold;
  background-color: whitesmoke;
  text-decoration-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1.5px double black;
  display: inline;
  padding: 10px;
  transition: 0.1s;
  margin: 10px 15px;
}
body {
  text-align: center;
  font-family: 'Trebuchet MS';
  background-color: gainsboro;
  border: 1px solid black ;
  width: 800px;
  background-size: 1000px, 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 100px 330px 40px 350px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  padding: 15px 0px 0px 5px;
  text-decoration: underline;
  font-style: italic;
  
}

.homeDiv {
  border: 1px solid black;
  margin: 20px;
}
img {
  height:250px;
  width:250px;
  border: 4 solid red; 
  border-radius:20px;
  border-collapse: collapse;
  transition: width 0.5s, height 0.5s;
}
img:hover {
  height: 450px;
  width: 450px;
}
p {
  font-weight: bold;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.meatmonster {
  height: 400px;
  width: 800px;
  background-image: url('/images/homeburger.png');
  margin: 50px 250px 100px 50px;
  background-repeat: no-repeat;
}
#container.myContainer {
  border: 1.5px solid black;
  margin: 20px;
}
a {
  color: black;
  font-style: italic;
}
#footer {
  width: 600px;
  border: 1px solid white;
  margin: 50px 50px 25px 100px;
  padding:-10px;
}