extends layout

block content
  h1= title
  p Where to find us.
  <iframe width="650" height="450" frameborder="0" style="border:1" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9fhQlQL1UocRd8_ez8d6nfI&key=AIzaSyDkdhJQMqHAwpMp-rrEHHCLyf5lEdIQwPg" allowfullscreen></iframe> 
