* {
  background-color: bisque;
  border: 2px solid pink
}
img {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  justify-content: center;
}

input {
  margin: 5px;
  background-color: whitesmoke;
}

.entryForm {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.editForm {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

button {
  margin: 5px;
  background-color: whitesmoke;
}

.ugly-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}
